/test
/.idea
/.claude
JmWebProject/media/images/jmcomic/*
!JmWebProject/media/images/jmcomic/.gitkeep
JmWebProject/media/images/local/*
!JmWebProject/media/images/local/.gitkeep
JmWebProject/media/videos/*
!JmWebProject/media/videos/.gitkeep
JmWebProject/db.sqlite3
JmWebProject/db
/JmWebProject/CLAUDE.md
/.gitignore
celery-run.bat
run.md
setup.md
README.md
develop.md
